<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
  <% flash.each do |key, value| %>
    <div class ="row">
      <div class="span8">
        <div class ="flash-message" id= '<%=key %>'><%= value %></div>
      </div>
    </div>
  <% end if @game && !@game.error_message.empty? %>

<%= yield %>
</div>
</body>
</html>
